<div class="container mx-auto px-4" data-turbo-temporary data-controller="flash" data-flash-auto-hide-value="true" data-flash-hide-delay-value="5000">
  <div data-flash-target="messageContainer" style="display: none;"></div>
</div>
