<section class="container px-4 md:px-36 mx-auto">

  <div class="mt-6">
    <span class="bg-coral-200 text-lg font-bold text-dark-65 rounded-3xl px-3 py-1">
      おくすり飲んだ？
    </span>
  </div>

  <div class="flex flex-col ml-2 mt-1">
    <span class="text-dark-65 text-xs">
      既読
    </span>
    <span class="text-dark-65 text-xs">
      <%= (Time.current - 5.minutes).strftime("%Y/%-m/%-d %H:%M") %>
    </span>
  </div>

  <div class="mt-6 flex justify-end">
    <span class="bg-teal-200 text-lg font-bold text-dark-65 rounded-3xl px-3 py-1 ">
      うん。<br>
      今から飲むところ。
    </span>
  </div>


  <div class="mt-6">
    <span class="bg-coral-200 text-lg font-bold text-dark-65 rounded-3xl px-3 py-1 inline-block">
      毎日は大変だよね。<br>
      でも、ずっと元気でいて欲しいから、<br>
      おくすり飲んでね。
    </span>
  </div>

  <div class="flex flex-col ml-2 mt-1">
    <span class="text-dark-65 text-xs">
      送信済
    </span>
    <span class="text-dark-65 text-xs">
      <%= Time.current.strftime("%Y/%-m/%-d %H:%M") %>
    </span>
  </div>


  <div class="mt-6 flex justify-end">
    <div class="flex flex-col">
      <span class="text-2xl font-bold text-teal-500 px-3">
        家族に忘れずにおくすりを飲んで欲しい
      </span>
      <span class="text-lg font-bold text-teal-500 px-3">
        そんな方のためのアプリです。
      </span>
    </div>
  </div>

  <div class="mt-6 flex flex-col">
    <span class="text-2xl font-bold text-coral-500 px-3">
       複数人指定可能な通知機能
    </span>
    <span class="text-lg font-bold text-coral-500 px-3">
      おくすりを飲む本人はもちろん、<br>
      家族に対しても通知設定が可能です。<br>
      飲み終わったことも通知します。
    </span>
  </div>

  <div class="mt-6 flex justify-end">
    <div class="flex flex-col">
      <span class="text-2xl font-bold text-teal-500 px-3">
        飲み続けるためのご褒美設定機能
      </span>
      <span class="text-lg font-bold text-teal-500 px-3">
        モチベーション維持のために、<br>
        ご褒美の設定が可能です。
      </span>
    </div>
  </div>
</section>
