<section class="container px-6 mx-auto">
  <h2 class="px-6 mt-2 text-4xl font-bold text-dark-65"><%= @medication_group.group_name %></h2>

  <div class="container px-6 py-2 mx-auto">
    <%# メンバー部 %>
    <div class="px-6 py-4 mt-2 bg-teal-100 rounded-3xl md:w-70 flex items-center">
      <div class="w-full">
        <% @medication_group.users.each do |user| %>
          <p class="text-dark-65">
            <%= user.user_name %> 
          </p>
        <% end %>
      </div>
    </div>

    <%# スケジュール部 %>
    <div class="pt-2 grid grid-cols-1 gap-8 md:grid-cols-3 xl:grid-cols-4">
      <% if @medication_schedules.present? %>
        <%= render @medication_schedules %>
      <% end %>
    </div>

    <div class="pt-2">
      <%= link_to "スケジュール追加", new_medication_group_medication_schedule_path(@medication_group.id),class: "block mt-2 px-4 py-2 bg-sage-500 md:w-70 rounded-xl text-center hover:bg-sage-600 transition-colors" %>
    </div>
  </div>
</section>