<section class="container px-6 mx-auto">
  <h2 class="px-6 mt-2 text-4xl font-bold text-dark-65">マイページ</h2>

  <div id="mypage" class="ml-4 pt-2 grid grid-cols-1 gap-x-4 gap-y-2 md:grid-cols-3 xl:grid-cols-4">
    <%= render partial: "mypage", locals: {user: current_user} %>
  </div>
</section>