
<div class="flex justify-between">
  <p class="text-dark-65">
    <%= medication_group_user.user.user_name %> 
  </p>
  <p class="text-dark-65">
    <%= medication_group_user.user_type_i18n  %> 
  </p>
</div>